{% extends 'layout2.html' %}
{% block body %}
    <div class="fh5co-hero">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(/static/images/home-image.jpg);">
            <div class="desc animate-box">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <h2>Fitness &amp; Health <br>is a <b>Mentality</b></h2>
                            <p><span>Don’t be afraid of failure. This is the way to succeed.</span></p>
                            <span><a class="btn btn-primary" href="#">Start Your Journey</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:fh5co-hero -->
    <div id="fh5co-schedule-section" class="fh5co-lightgray-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="heading-section text-center animate-box">
                        <h2>Class Schedule</h2>
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <ul class="schedule">
                        <li><a href="#" class="active" data-sched="sunday">Sunday</a></li>
                        <li><a href="#" data-sched="monday">Monday</a></li>
                        <li><a href="#" data-sched="tuesday">Tuesday</a></li>
                        <li><a href="#" data-sched="wednesday">Wednesday</a></li>
                        <li><a href="#" data-sched="thursday">Thursday</a></li>
                        <li><a href="#" data-sched="monday">Monday</a></li>
                        <li><a href="#" data-sched="saturday">Saturday</a></li>
                    </ul>
                </div>
                <div class="row text-center">

                    <div class="col-md-12 schedule-container">

                        <div class="schedule-content active" data-day="sunday">
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-dumbell.svg" alt="Cycling">
                                    <small>06AM-7AM</small>
                                    <h3>Body Building</h3>
                                    <span>John Doe</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-yoga.svg" alt="">
                                    <small>06AM-7AM</small>
                                    <h3>Yoga Programs</h3>
                                    <span>James Smith</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-cycling.svg" alt="">
                                    <small>06AM-7AM</small>
                                    <h3>Cycling Program</h3>
                                    <span>Rita Doe</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-boxing.svg" alt="Cycling">
                                    <small>06AM-7AM</small>
                                    <h3>Boxing Fitness</h3>
                                    <span>John Dose</span>
                                </div>
                            </div>
                        </div>
                        <!-- END sched-content -->

                        <div class="schedule-content" data-day="monday">
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-yoga.svg" alt="">
                                    <small>06AM-7AM</small>
                                    <h3>Yoga Programs</h3>
                                    <span>James Smith</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-dumbell.svg" alt="Cycling">
                                    <small>06AM-7AM</small>
                                    <h3>Body Building</h3>
                                    <span>John Doe</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-boxing.svg" alt="Cycling">
                                    <small>06AM-7AM</small>
                                    <h3>Boxing Fitness</h3>
                                    <span>John Dose</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-cycling.svg" alt="">
                                    <small>06AM-7AM</small>
                                    <h3>Cycling Program</h3>
                                    <span>Rita Doe</span>
                                </div>
                            </div>
                            
                        </div>
                        <!-- END sched-content -->

                        <div class="schedule-content" data-day="tuesday">
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-dumbell.svg" alt="Cycling">
                                    <small>06AM-7AM</small>
                                    <h3>Body Building</h3>
                                    <span>John Doe</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-yoga.svg" alt="">
                                    <small>06AM-7AM</small>
                                    <h3>Yoga Programs</h3>
                                    <span>James Smith</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-cycling.svg" alt="">
                                    <small>06AM-7AM</small>
                                    <h3>Cycling Program</h3>
                                    <span>Rita Doe</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-boxing.svg" alt="Cycling">
                                    <small>06AM-7AM</small>
                                    <h3>Boxing Fitness</h3>
                                    <span>John Dose</span>
                                </div>
                            </div>
                        </div>
                        <!-- END sched-content -->

                        <div class="schedule-content" data-day="wednesday">
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-yoga.svg" alt="">
                                    <small>06AM-7AM</small>
                                    <h3>Yoga Programs</h3>
                                    <span>James Smith</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-dumbell.svg" alt="Cycling">
                                    <small>06AM-7AM</small>
                                    <h3>Body Building</h3>
                                    <span>John Doe</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-boxing.svg" alt="Cycling">
                                    <small>06AM-7AM</small>
                                    <h3>Boxing Fitness</h3>
                                    <span>John Dose</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-cycling.svg" alt="">
                                    <small>06AM-7AM</small>
                                    <h3>Cycling Program</h3>
                                    <span>Rita Doe</span>
                                </div>
                            </div>
                        </div>
                        <!-- END sched-content -->

                        <div class="schedule-content" data-day="thursday">
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-dumbell.svg" alt="Cycling">
                                    <small>06AM-7AM</small>
                                    <h3>Body Building</h3>
                                    <span>John Doe</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-yoga.svg" alt="">
                                    <small>06AM-7AM</small>
                                    <h3>Yoga Programs</h3>
                                    <span>James Smith</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-cycling.svg" alt="">
                                    <small>06AM-7AM</small>
                                    <h3>Cycling Program</h3>
                                    <span>Rita Doe</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-boxing.svg" alt="Cycling">
                                    <small>06AM-7AM</small>
                                    <h3>Boxing Fitness</h3>
                                    <span>John Dose</span>
                                </div>
                            </div>
                        </div>
                        <!-- END sched-content -->

                        <div class="schedule-content" data-day="friday">
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-yoga.svg" alt="">
                                    <small>06AM-7AM</small>
                                    <h3>Yoga Programs</h3>
                                    <span>James Smith</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-dumbell.svg" alt="Cycling">
                                    <small>06AM-7AM</small>
                                    <h3>Body Building</h3>
                                    <span>John Doe</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-boxing.svg" alt="Cycling">
                                    <small>06AM-7AM</small>
                                    <h3>Boxing Fitness</h3>
                                    <span>John Dose</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-cycling.svg" alt="">
                                    <small>06AM-7AM</small>
                                    <h3>Cycling Program</h3>
                                    <span>Rita Doe</span>
                                </div>
                            </div>
                        </div>
                        <!-- END sched-content -->

                        <div class="schedule-content" data-day="saturday">
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-dumbell.svg" alt="Cycling">
                                    <small>06AM-7AM</small>
                                    <h3>Body Building</h3>
                                    <span>John Doe</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-yoga.svg" alt="">
                                    <small>06AM-7AM</small>
                                    <h3>Yoga Programs</h3>
                                    <span>James Smith</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-cycling.svg" alt="">
                                    <small>06AM-7AM</small>
                                    <h3>Cycling Program</h3>
                                    <span>Rita Doe</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="program program-schedule">
                                    <img src="/static/images/fit-boxing.svg" alt="Cycling">
                                    <small>06AM-7AM</small>
                                    <h3>Boxing Fitness</h3>
                                    <span>John Dose</span>
                                </div>
                            </div>
                        </div>
                        <!-- END sched-content -->
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
    <div class="fh5co-parallax" style="background-image: url(/static/images/home-image-3.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                    <div class="fh5co-intro fh5co-table-cell animate-box">
                        <h1 class="text-center">Commit To Be Fit</h1>
                        <p>Success usually comes to those who are too busy to be looking for it.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end: fh5co-parallax -->
<br>
<br>
<br>
    <footer>
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 animate-box">
                        <h3 class="section-title">About Us</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                    </div>

                    <div class="col-md-4 animate-box">
                        <h3 class="section-title">Our Address</h3>
                        <ul class="contact-info">
                            <li><i class="icon-map-marker"></i>198 West 21th Street, Suite 721 New York NY 10016</li>
                            <li><i class="icon-phone"></i>+ 1235 2355 98</li>
                            <li><i class="icon-envelope"></i><a href="#">info@yoursite.com</a></li>
                            <li><i class="icon-globe2"></i><a href="#">www.yoursite.com</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 animate-box">
                        <h3 class="section-title">Drop us a line</h3>
                        <form class="contact-form">
                            <div class="form-group">
                                <label for="name" class="sr-only">Name</label>
                                <input type="name" class="form-control" id="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="message" class="sr-only">Message</label>
                                <textarea class="form-control" id="message" rows="7" placeholder="Message"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Send Message">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}